body {
    padding: 0;
    margin: 0;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
table {
    width: 100%;
    border-spacing: 0px;
}
tbody tr:first-child td {
    border-top: 2px solid #dee2e6;
}
tbody tr:not(:first-child) td {
    border-top: 1px solid #dee2e6;
}
th, td {
    text-align: left;
    vertical-align: top;
    padding: 5px;
}
th {
    white-space: nowrap;
}
tr.selectable:hover {
    background-color: #fffdce;
    cursor: pointer;
}
tr.torrent-details td {
    font-size: .9em;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
table.small th, table.small td, table.small button {
    padding: 2px;
    font-size: .85em;
    width: auto;
}
table.plain td {
    border: none !important;
} 
div.responsive {
    overflow: auto;
}
div.card {
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    padding: 10px;
    background-color: #fff;
}
select, input[type=text], input[type=password], textarea {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #999;
    color: #333;
}
button {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #666;
    background-color: #666;
    color: #fff;
}
button:hover {
    background-color: #555;
}
p {
    margin: 0px 0px 10px 0px;
}
a, a:visited {
    text-decoration: none;
    color: rgb(86, 133, 67);
}
#app {
    padding: 10px;
}
.login-form {
    max-width: 300px;
    margin: auto;
}
.login-form input {
    width: 100%;
}
.hidden {
    display: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex-grow: 1;
}
.p-5 {
    padding: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.text-lighter {
    color: #555;
}
.text-smaller {
    font-size: .85em;
}
.width-100 {
    width: 100%;
}
.nowrap {
    white-space: nowrap;
}
.form-error {
    color: rgb(170, 38, 38);
    font-size: .9em;
}
.chevron::before {
	border-style: solid;
	border-width: 0.2em 0.2em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}
.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}